-e git+https://github.com/inconvergent/fast-sand-paint.git@31afc3021ab24f5ceed32fe8643978d2b98a6c33#egg=fast-sand-paint-0.1.0
-e git+https://github.com/inconvergent/fn.git@0750ea6d243cdca6e997da4b2c65bdb0e4dab404#egg=fn
